<div class="navbar navbar-expand-sm navbar- navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag('logo.jpg', alt: 'Image Description') %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <div class="navbar-link">
          <%= link_to "Book now", cars_path %>
          <a href="<%= edit_user_registration_path %>">Account</a>
          <%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

      <% else %>
        <%= link_to "Sign In", new_user_session_path, class:"navbar-item, btn btn-warning" %>
        <%= link_to "Sign up", new_user_registration_path, class:"navbar-item, btn btn-warning"%>
      <% end %>
       </div>

      </ul>
    </div>
  </div>
</div>
