<h1><%= @car.brand %></h1>
<p>Year of Production: <%= @car.year_of_production %></p>
<p>Address: <%= @car.address %></p>
<p>Price per Day: <%= @car.price_per_day %></p>

<h2>Make a Reservation</h2>
<%= simple_form_for([@car, @booking]) do |form| %>
  <%= form.input :starts_at, as: :string, input_html: { id: "booking_starts_at", data: { controller: "datepicker" } } %>
  <%= form.input :ends_at, as: :string, input_html: { id: "booking_starts_at", data: { controller: "datepicker" } } %>

  <%= form.button :submit, 'Reserve Car' %>
<% end %>



<%= link_to 'Back to  Cars', cars_path(@car) %>
